@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Syne+Mono&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: #222 url(../asset/cover.jpg)no-repeat fixed center center / cover;
}

body{
    font: 1.6rem  'Montserrat', sans-serif;
    margin: 0;
    
}
h1,h2,h3,h4,p,ul,ol,figure{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 1rem;
    list-style: none;
    text-align: justify;
}
a{
    text-decoration: none;
    color: #222
}
*{
    box-sizing: border-box;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    padding: 2rem;
}

/*
theme
 */
:root{
    --color-primary: #3D3C3C
    --color-secondary: #8E8D8D
    --color-complementary: #403F3F
    --color-last: #3C3737
    --color-header: #ECE6EA
}
header,nav,main, footer{
    max-width: 70rem;
    margin: 2rem auto;
    background-color: rgba(255,255,255,0.8); 
    border-radius: 0.9rem;
    overflow: hidden;
    padding: 1.5rem;
}
header h1::before{ /* icone en css */
    content: url(../favicon/favicon-32x32.png);
    vertical-align:middle;
    margin-right: 2rem;
    filter: invert(85%);
}
h1{
    text-align: center;
    text-shadow: 4px 3px 0px darkgray;
}
h2,h3{
    font-family: 'Montserrat', cursive;
    font-weight: 200;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 4px 3px 0px darkgray;
}

footer  p{
    text-align: center;
    font-weight: bold;
}
